<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaseMicroareas.Properties.Settings.MicroareasString"
            connectionString="Data Source=10.5.124.82,1433;Network Library=DBMSSOCN;Initial Catalog=UBSHOMEROGIL;User ID=SA;Password=12345;" />
        <add name="BaseMicroareas.Properties.Settings.UBSHOMEROGILConnectionString"
            connectionString="Data Source=TCP:SESA-16482,1433;Initial Catalog=UBSHOMEROGIL;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>