<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
<add name="SISHOMEROGIL.Properties.Settings.UBSHOMEROGILConnectionString"
        connectionString="Data Source=RIBEIRO\SQLEXPRESS;Initial Catalog=UBSHOMEROGIL;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
