<html lang="pt-br">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <!--scripts-->
    <script src="../scripts/jquery/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="../scripts/bootstrap/bootstrap.js" type="text/javascript"></script>
    <script src="../scripts/angular/angular.js" type="text/javascript"></script>
    <script src="../controller/receiturarioComunViewModel.js" type="text/javascript"></script>
    <script src="../models/userData.js" type="text/javascript"></script>

    <!--styles-->
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../css/bootstrap/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
    
</head>
<title>Receiturario Comun</title>
<body ng-app="Receituario" ng-controller="IndexModel">
<div class="divisao">
    <table border="1">    
        <tr>
        <th class="cabecalho brasao">
        <img src="../img/brasaobetim.gif" Width="20px" Height="20px"/>
        PREFEITURA MUNICIPAL DE BETIM
        </th>
        <th class="title">
            RECEITUÁRIO
        </th>
        <th class="cabecalho suslogo">
        <img src="../img/suslogo.png" Width="60px" Height="30px" />
        </th>
        </tr>
        <tr>
        <th  class="title" colspan="3">
        NOME DA UNIDADE : UBS HOMERO GIL
        </th>
        </tr>
        <tr>
        <th  class="title title-size" colspan="3">
        NOME: {{Usuario.Nome}}
        </th>
        </tr>
        <tr>
        <th>        
        Prontuario: {{Usuario.Prontuario}}
        </th>
        <th>
            Cartão Sus: {{UsuarioCartaoSus}}
        </th>
        <th >
            Data: {{Usuario.Data}}        
        </th>
        </tr>
        <tr class="prescricao">
        <td colspan="3">
        Prescricao:
            <div>
            xxxxx
            xxxxx
            xxxxx
            xxxxx
            xxxxx
            </div>
        </td>
    </tr>
    <tr class"prescricao">
    <td colspan="3">
    Carimbo e Assinatura:
    </td>    
    </tr>
</table>   
    <table  border="1">    
        <tr>
        <th class="cabecalho brasao">
        <img src="../img/brasaobetim.gif" Width="20px" Height="20px"/>
        PREFEITURA MUNICIPAL DE BETIM
        </th>
        <th class="title">
            RECEITUÁRIO
        </th>
        <th class="cabecalho suslogo">
        <img src="../img/suslogo.png" Width="60px" Height="30px" />
        </th>
        </tr>
        <tr>
        <th  class="title" colspan="3">
        NOME DA UNIDADE : UBS HOMERO GIL
        </th>
        </tr>
        <tr>
        <th  class="title title-size" colspan="3">
        NOME: {{Nome}}
        </th>
        </tr>
        <tr>
        <th>        
        Prontuario: {{Prontuario}}
        </th>
        <th>
            Cartão Sus: {{CartaoSus}}
        </th>
        <th >
            Data: {{Data}}        
        </th>
        </tr>
        <tr class="prescricao">
        <td colspan="3">
        Prescricao:
            <div>
            xxxxx
            xxxxx
            xxxxx
            xxxxx
            xxxxx
            </div>
        </td>
    </tr>
    <tr class"prescricao">
    <td colspan="3">
    Carimbo e Assinatura:
    </td>    
    </tr>
</table>   
</div>

</body>
</html>
